// couileur principales du projet 
$primary: #0074c7;
$secondary: #384050;
$info: #f1f8fc;
$dark: #00497c;

// couleur des boutons

$danger: #cd2c2e;
$success: #82b864;

@import "../../node_modules/bootstrap/scss/bootstrap";
